/*  Light gray: hsl(212, 45%, 89%)
 Grayish blue: hsl(220, 15%, 55%)
 Dark blue: hsl(218, 44%, 22%) */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: hsl(212, 45%, 89%);
}
.card {
  width: 19rem;
  padding: 10px;
  border-radius: 5%;
  font-family: "Outfit", sans-serif;
}
.card-text {
  color: hsl(220, 15%, 55%);
  font-size: 15px;
}
