/*  Light gray: hsl(212, 45%, 89%)
 Grayish blue: hsl(220, 15%, 55%)
 Dark blue: hsl(218, 44%, 22%) */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: hsl(212, 45%, 89%);
  display: grid;
  place-items: center;
  height: 100vh;
}
.card {
  width: 18rem;
  margin: auto;
  border-radius: 5%;
  font-family: "Outfit", sans-serif;
  text-align: center;
}
.card-text {
  color: hsl(220, 15%, 55%);
  font-size: 15px;
}
h4 {
  font-weight: 700;
}
.container {
  display: flex;
  flex-direction: column;
  border-radius: 5%;
  height: 460px;
  text-align: center;
  max-width: 300px;
  background-color: white;
  padding: 10px;
}
